@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.container {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.container > h1 {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: flex-end;
  justify-self: center;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.form {
  background-color: rgb(74, 11, 116);
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 10px;
}

.input {
  width: 80%;
  padding: 5px;
  border-radius: 30px;
  border: 3px solid #fff;
  background-color: rgb(74, 11, 116);
  color: white;
  outline: none;
}

.btn {
  padding: 10px;
  border-radius: 40px;
  background-color: rgb(74, 11, 116);
  border: 3px solid #fff;
  color: #fff;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  }

  .container > h1 {
    grid-column: 2/4;
    grid-row: 1;
  }

  .form {
    grid-column: 2/4;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 700px) {
  .container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template: 1fr / 1fr;
  }

  .container > h1 {
    grid-column: 1;
    grid-row: 1;
    top: 50px;
    width: inherit;
    text-align: center;
    position: absolute;
    color: white;
  }

  .form {
    grid-column: 1;
    grid-row: 1;
    border-radius: 0;
  }
}
